body {
  background: #222;
  margin: 0px;
}

#content {
  background: #484848;
  width: 580px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#query {
  color: #F8F8F8;
  font-size: 14px;
  background: #383838;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,.5);
  border: none;
  height: 22px;
  border-radius: 2px;
  margin: 0px;
  padding: 2px 5px;
  width: 570px;
}

#query:focus {
  outline: none;
}

.results-list {
  font-family: 'Lucida Grande';
  margin-top: 5px;
  max-height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
}

.result {
  background: #292929;
  border-top: 1px solid #323232;
  border-bottom: 1px solid #212121;
  cursor: default;
}

.result.tab {
  height: 40px;
}

.result.command {
  height: 20px;
}

.result .title {
  color: #D2D2D2;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
  text-shadow: 0 1px 1px black;
  white-space: nowrap;
}

.result .title .glow {
  color: #7EC7EF;
}

.result .url {
  color: #828282;
  font-size: 11px;
  margin-left: 5px;
  letter-spacing: .26px;
  text-shadow: 0 1px 1px rgba(0,0,0,.7);
  white-space: nowrap;
}

.result .url .glow {
  color: #DCDCDC;
  font-weight: bold;
  letter-spacing: 0px;
}

.result:not(.highlight):hover {
  background: #202020;
}

.result.highlight {
  background: #181818;
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
}

.result.highlight .title {
  color: white;
}

.result.highlight .title .glow {
  color: #A6E5FF;
}

.result.highlight .url {
  color: #AFAFAF;
}

.result.highlight .url .glow {
  color: #DCDCDC;
  font-weight: bold;
}
