<!DOCTYPE html>
<html>
<head>
  <title>Sublime Chrome Tab Palette</title>

  <!-- External scripts -->
  {{#each external}}
    {{script this}}
  {{/each}}

  <!-- Handlebars templates- -->
  {{#each template}}
    {{script this}}
  {{/each}}

  <!-- Source scripts -->
  {{#each source}}
    {{script this}}
  {{/each}}

  <!-- Styles -->
  {{#each style}}
    <link rel="stylesheet" href="{{this}}">
  {{/each}}

</head>
<body>
</body>
</html>
